footer(class="main-footer")
    div(class="pull-right hidden-xs") 
        strong
            a(href="#") Rental Mobil Jaya
    strong Copyright © 
        <a href="#">Rental Mobil Jaya </a>. All rights reserved.
</footer>