header(class="main-header")
	a(href="#" class="logo")
		span(class="logo-mini") RMJ
		span(class="logo-lg") Rental Mobil <b>JAYA</b>
	nav(class="navbar navbar-static-top")
		a(href="#" class="sidebar-toggle" data-toggle="push-menu" role="button")
			span(class="sr-only") Toggle navigation
		div(class="navbar-custom-menu")
			ul(class="nav navbar-nav")
				li(class="dropdown user user-menu")
					a(href="#" class="dropdown-toggle" data-toggle="dropdown")
						img(src="/adminlte/dist/img/user2-160x160.jpg" class="user-image" alt="User Image")
						span(class="hidden-xs") #{user}
					ul(class="dropdown-menu")
						li(class="user-header")
							img(src="/adminlte/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image")
							p #{user} <small>Have a nice day</small>
						li(class="user-footer")
							a(href="/logout" class="btn btn-md btn-danger text-white btn-block") Logout