aside(class="main-sidebar")
  section(class="sidebar")
    ul(class="sidebar-menu" data-widget="tree")
      li(class="header") MAIN MENU
      li
        a(href="/")
          i(class="fa fa-dashboard")
          span Dasboard
      li
        a(href="/waktu")
          i(class="fa fa-clock-o")
          span Waktu Sekarang
      li
        a(href="/buku")
          i(class="fa fa-archive")
          span Buku